.banner {
  position: relative;
  .login_content {
    width: 400px;
    height: 300px;
    padding: 50px 0 0 80px;
    background: #fff;
    opacity: .9;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -200px;
  }
}

.example {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  .spin {
    position: absolute;
    top: 45%;
    left: 50%;
  }
}
